<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<!--[if lt IE 9]>
{js href="/static/H-ui/lib/html5.js,/static/H-ui/lib/respond.min.js,/static/H-ui/lib/PIE_IE678.js"/}
<![endif]-->

{css href="/static/H-ui/static/h-ui/css/H-ui.min.css,/static/H-ui/static/h-ui/css/H-ui.admin.css,/static/H-ui/static/h-ui/css/style.css,/static/H-ui/lib/Hui-iconfont/1.0.7/iconfont.css"/}
{php}$skin=getSkin();{/php}
<link rel="stylesheet" type="text/css" href="/static/H-ui/static/h-ui/skin/{$skin|default='default'}/skin.css" id="skin" />
<link rel="stylesheet" type="text/css" href="/static/H-ui/static/h-ui/css/style.css" />
<!--[if IE 6]>
<script type="text/javascript" src="http://lib.h-ui.net/DD_belatedPNG_0.0.8a-min.js" ></script>
<script>DD_belatedPNG.fix('*');</script>
<![endif]-->