{extend name="Public/base" /}
{block name='nav'}
{:breadcrumb('CommonLoginRecord.Index')}
{/block}
{block name="body"}
<div class="text-c"> 
	<form method="get" action="">
		{literal}
		日期范围：
		<input type="text" onfocus="WdatePicker({maxDate:'#F{$dp.$D(\'txt_search_datemax\')||\'%y-%M-%d\'}'})" id="txt_search_datemin" class="input-text Wdate" name="sdate" style="width:120px;">
		-
		<input type="text" onfocus="WdatePicker({minDate:'#F{$dp.$D(\'txt_search_datemin\')}',maxDate:'%y-%M-%d'})" id="txt_search_datemax" class="input-text Wdate" style="width:120px;" name="edate" >
		<input type="text" class="input-text" style="width:250px" placeholder="输入管理员名称" id="txt_search_kw" name="kw">
		<button type="submit" class="btn btn-success" id="" name=""><i class="Hui-iconfont"></i> 搜用户</button>
		{/literal}
	</form>
</div>
<div class="cl pd-5 bg-1 bk-gray"> 
	<span class="l"> 
		<a href="javascript:;" onclick="data_dels()" class="btn btn-danger radius"><i class="Hui-iconfont">&#xe6e2;</i> 批量删除</a>
	</span>
	<span class="r">共有数据：<strong>{$pageInfo->total()}</strong> 条</span>
</div>

<table class="table table-border table-bordered table-hover table-bg table-sort dataTable no-footer" id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info">
	<thead>

		<tr class="text-c" role="row">
			<th width="25"><input type="checkbox" value="" >
			</th>
			<th width="150" >管理员名称</th>
			<th width="150" >登录时间</th>
			<th width="150" >登录IP</th>
			<th >登录地址</th> 
			<th width="80"  style="width: 80px;">操作</th>
		</tr>
	</thead>
	<tbody> 
		{volist name='pageInfo' id='item'}
		<tr class="text-c odd" role="row"> 
			<td><input type="checkbox" value="{$item.id}"></td>
			<td>{$item.name}</td>
			<td>{$item.created|date='Y-m-d H:i:s',###}</td>
			<td>{$item.ip}</td>  
			<td>{$item.ip_address|default='无'}</td>
			<td class="f-14">
				<a title="删除" href="javascript:;" onclick="self_del('{$item.id}')" class="ml-5" >
					<i class="Hui-iconfont">&#xe6e2;</i>
				</a>
			</td>
		</tr>
		{/volist}
	</tbody>
</table>
{$pageInfo->render()}
{js href='/static/H-ui/lib/My97DatePicker/WdatePicker.js'/}
{/block}
{block name="js"}
<script type="text/javascript">
	$('#txt_search_datemin').val('{:input('get.sdate')}');
	$('#txt_search_datemax').val('{:input('get.edate')}');
	$('#txt_search_kw').val('{:input('get.kw')}');

</script>
{/block}